@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.main {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #42576F;
    font-family: 'Roboto';
}

.title-pages {
    font-size: 28px;
    font-family: 'Inter';
    font-weight: bold;   
    margin-bottom: 20px;
    color: #293746;
}

.alert {
    width: 200px;
}