@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

.main {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #42576F;
    font-family: 'Roboto';
}